body#notice {
  .content {
    .container {
      width: 80%;
    }
  }

  .item {
    border-bottom: 1px solid black;
    min-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .item:first-child {
    border-top: 2px solid black;
  }
}
